@media only screen and (max-width: 1150px){
	/*=======header serction========*/
	.row{
		margin: 0 30px;
	}
	.hero-text-box{
		width: 100%;
		padding: 0 30px;
	}
	
}
@media only screen and (max-width: 1024px){
	.main-nav{
		display: none;
	}
	.mobile-menu span{
	display: block;
}
	header{
		height: 50vh;
	}
	h1{
		font-size: 3rem;
	}
	html{
		font-size: 57.62%;
	}
	/*=======testimonial serction========*/
	.client-photo{
		width: 100%;
		float: none;
		text-align: center;
	}
	.client-review{
		width: 100%;
		float: none;
		text-align: center;
	}
}
@media screen and (max-width: 980px){
	.span_1_of_4 {
		width: 49.2%; 
	}
	.span_1_of_4:nth-child(3){
		margin-left: 0;
	}
}
@media screen and (max-width: 767px){
	.span_1_of_4 {
		width: 100%; 
	}
	.span_1_of_2{
		width: 100%;
	}
	h1{
		font-size: 2.5rem;
	}
	h2{
		font-size: 3rem;
	}
	.footer-section ul li a{
	font-size: 2rem;
}
.col{
	margin: 0;
	margin-bottom: .5rem;
}
}
@media screen and (max-width: 591px){
	h1{
		font-size: 2rem;
	}
	h2{
		font-size: 2rem;
	}
	.portfolio-filter button{
	font-size: 1rem;
	padding: 1rem 1.5rem;
}
	.footer-section ul li a{
	font-size: 1.5rem;
}
.col{
	margin: 0;
	margin-bottom: .5rem;
}
}
@media screen and (max-width: 400px){
	h1{
		font-size: 1.8rem;
	}
	h2{
		font-size: 1.3rem;
	}
	.little-description{
		font-size: 1.6rem;
		line-height: 1.8rem;
		padding: 0;
	}
	.portfolio-filter button{
	margin: 1rem;
}
	.footer-section ul li a{
	font-size: 1.6rem;
}
}
@media screen and (max-width: 280px){
	h1{
		font-size: 1.5rem;
		font-weight: bold;
	}
	h2{
		font-size: 1rem;
		font-weight: bold;
	}
	.little-description{
		font-size: 1.3rem;
		line-height: 1.5rem;
		padding: 0;
	}
	.portfolio-filter button{
	margin: .4rem;
}
	.footer-section ul li a{
	font-size: 1.3rem;
}
}